.column {
    display: inline-block;
}

#container {
    border: 2px solid;
}

#first {
    top: 10px;
    position: absolute;
    padding-left: 10px;
}

#second {
    padding-top: 5px;
}

#third {
    padding-top: 5px;
    color: "green";
}

#fourth {
    color: "blue";
}

.maybeAppear {
    opacity: 0;
}

button {
    padding: 5px;
}

.enter {
    margin-left: 10px;
}

input {
    margin-left: 2px;
    padding: 4px;
}

.optionType{
    margin-top: 5px;
}

.optionControl {
    margin-top: 5px;
}

#graph {
    margin-top: 5px;
    position: absolute;
    right: -72px;
}

button:focus{
    border: 0.5px solid black; 
}